# byte code
__pycache__/
*.pyc
*.pyo
*.pyd

#virt env
.venv/
venv/
env/

# macOS junk
.DS_Store

# Test coverage files
.coverage
.pytest_cache/
htmlcov/

# secrets
coverall-env.sh

# Python package metadata and such
*.egg-info/
dist/
build/

# evident
tmp/
*.log
*.swp
